{% extends "base.html" %}
{% comment %} {% load static %} {% endcomment %}
{%block body%}
{% for service in data %}
    <div>
        
        
        
        <form method="POST" action="/cart/{{service.Name}}">
            {% csrf_token %}
            <div class="mb-3">
                {{service.Name}}
            </div>
            <div class="mb-3">
                {{service.Description}}
            </div>
            <div class="mb-3">
                {{service.price}}
            </div>
            
            
            <button type="submit" class="btn btn-primary">ADD</button></br></br>
        </form>
        {% comment %} <img src="{% static 'images/'%}{{service.Name}}.jpeg'" ></br></br> {% endcomment %}
        {% comment %} {% csrf_token %} {% endcomment %}
        
    </div>

{% endfor %}
<form method="POST" action="/checkout">
    {% csrf_token %}
    <button type="Submit" class="btn btn-primary">Checkout</button>
</form>
{%endblock body%}